@media only screen and (min-width: 800px) {
    body {
      background-color: rgb(173, 36, 31);
    }
}
@media only screen and (max-width: 740px ) {
    body {
      background-color: rgb(28, 5, 230);

    }
    .toBeReplaced {
        visibility: hidden;
        position: relative;
    }
    .toBeReplaced:after {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content: "Eswar";
        color: rgb(215, 240, 240);
        font-size: 50px;
    }
}
